---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=GTwdMRsMZZkgDk6zu2jtgddb1MxblPsW&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 15 Jun 2022 03:33:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GTwdMRsMZZkgDk6zu2jtgddb1MxblPsW&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=305501282"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GTwdMRsMZZkgDk6zu2jtgddb1MxblPsW&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=2141587676"}]}]}'
  recorded_at: Wed, 15 Jun 2022 03:33:56 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f8499346cb17b29ecab36c3c63e045f7&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655263988,"sunrise":1655206286,"sunset":1655260150,"temp":68,"feels_like":66.24,"pressure":1004,"humidity":37,"dew_point":40.78,"uvi":0,"clouds":8,"visibility":10000,"wind_speed":5.99,"wind_deg":42,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1655262000,"temp":69.13,"feels_like":67.35,"pressure":1004,"humidity":34,"dew_point":39.61,"uvi":0,"clouds":9,"visibility":10000,"wind_speed":11.43,"wind_deg":85,"wind_gust":16.28,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1655265600,"temp":68,"feels_like":66.24,"pressure":1004,"humidity":37,"dew_point":40.78,"uvi":0,"clouds":8,"visibility":10000,"wind_speed":17.16,"wind_deg":79,"wind_gust":25.12,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1655269200,"temp":66.78,"feels_like":65.03,"pressure":1005,"humidity":40,"dew_point":41.72,"uvi":0,"clouds":8,"visibility":10000,"wind_speed":8.3,"wind_deg":58,"wind_gust":11.86,"weather":[{"id":800,"main":"Clear",[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=place:denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.083 TT 0 0.085"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 3,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL17081407W",
                    "type": "work",
                    "seed": [
                        "/books/OL25651789M",
                        "/works/OL17081407W",
                        "/subjects/malt_shop_era",
                        "/subjects/catholic",
                        "/subjects/young_girls",
                        "/subjects/widower_raises_children_in_the_40's_&_50's",
                        "/subjects/lenora_mattingly_weber",
                        "/subjects/family",
                        "/subjects/person:beanie_malone",
                        "/subjects/place:denver_co",
                        "/subjects/time:during_world_war_2",
                        "/subjects/time:1942",
                        "/authors/OL1509731A"
                    ],
                    "title": "Meet the Malones",
                    "title_suggest": "Meet the Malones",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL25651789M"
                    ],
                    "publish_date": [
                        "new - Image Cascade Publishing, 1999"
                    ],
                    "publish_year": [
                        1999
                    ],
                    "first_publish_year": 1999,
                    "last_modified_i": 1423266913,
                    "ebook_count_i": 0,
                    "cover_edition_key": "OL25651789M",
                    "cover_i": 7322371,
                    "publisher": [
                        "original -Thomas Y. Crowell Co., 1943"
                    ],
                    "author_key": [
                        "OL1509731A"
                    ],
                    "author_name": [
                        "Lenora Mattingly Weber"
                    ],
                    "person": [
                        "Beanie Malone"
                    ],
                    "place": [
                        "Denver Co"
                    ],
                    "subject": [
                        "malt shop era",
                        "Catholic",
                        "young girls",
                        "widower raises children in the 40's & 50's",
                        "Lenora Mattingly Weber",
                        "family"
                    ],
                    "time": [
                        "during World War 2",
                        "1942"
                    ],
                    "publisher_facet": [
                        "original -Thomas Y. Crowell Co., 1943"
                    ],
                    "person_key": [
                        "beanie_malone"
                    ],
                    "place_key": [
                        "denver_co"
                    ],
                    "time_facet": [
                        "1942",
                        "during World War 2"
                    ],
                    "person_facet": [
                        "Beanie Malone"
                    ],
                    "subject_facet": [
                        "Catholic",
                        "Lenora Mattingly Weber",
                        "family",
                        "malt shop era",
                        "widower raises children in the 40's & 50's",
                        "young girls"
                    ],
                    "_version_": 1715079982862041089,
                    "place_facet": [
                        "Denver Co"
                    ],
                    "author_facet": [
                        "OL1509731A Lenora Mattingly Weber"
                    ],
                    "subject_key": [
                        "catholic",
                        "family",
                        "lenora_mattingly_weber",
                        "malt_shop_era",
                        "widower_raises_children_in_the_40's__50's",
                        "young_girls"
                    ],
                    "time_key": [
                        "1942",
                        "during_world_war_2"
                    ]
                },
                {
                    "key": "/works/OL16714280W",
                    "type": "work",
                    "seed": [
                        "/books/OL25384176M",
                        "/works/OL16714280W",
                        "/subjects/social_conditions",
                        "/subjects/denver_health",
                        "/subjects/hospitals",
                        "/subjects/history",
                        "/subjects/place:denver_(co.)",
                        "/subjects/place:colorado",
                        "/subjects/place:denver",
                        "/authors/OL1431564A"
                    ],
                    "title": "Healers and hellraisers",
                    "title_suggest": "Healers and hellraisers",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL25384176M"
                    ],
                    "publish_date": [
                        "2011"
                    ],
                    "publish_year": [
                        2011
                    ],
                    "first_publish_year": 2011,
                    "number_of_pages_median": 188,
                    "lccn": [
                        "2011923576"
                    ],
                    "publish_place": [
                        "Denver, CO"
                    ],
                    "lcc": [
                        "RA-0982.00000000.D372 D378 2011"
                    ],
                    "isbn": [
                        "9780615423906",
                        "0615423906"
                    ],
                    "last_modified_i": 1602960526,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Denver Health Foundation"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL1431564A"
                    ],
                    "author_name": [
                        "Eileen Welsome"
                    ],
                    "place": [
                        "Denver (Co.)",
                        "Colorado",
                        "Denver"
                    ],
                    "subject": [
                        "Social conditions",
                        "Denver Health",
                        "Hospitals",
                        "History"
                    ],
                    "publisher_facet": [
                        "Denver Health Foundation"
                    ],
                    "place_key": [
                        "colorado",
                        "denver",
                        "denver_(co.)"
                    ],
                    "subject_facet": [
                        "Denver Health",
                        "History",
                        "Hospitals",
                        "Social conditions"
                    ],
                    "_version_": 1715079499324850176,
                    "place_facet": [
                        "Colorado",
                        "Denver",
                        "Denver (Co.)"
                    ],
                    "lcc_sort": "RA-0982.00000000.D372 D378 2011",
                    "author_facet": [
                        "OL1431564A Eileen Welsome"
                    ],
                    "subject_key": [
                        "denver_health",
                        "history",
                        "hospitals",
                        "social_conditions"
                    ]
                },
                {
                    "key": "/works/OL16800110W",
                    "type": "work",
             [...]
