---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f8499346cb17b29ecab36c3c63e045f7&exclude=minutely,alerts&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1654989301,"sunrise":1654947095,"sunset":1655000870,"temp":309.39,"feels_like":306.79,"pressure":1003,"humidity":13,"dew_point":276.61,"uvi":3.42,"clouds":76,"visibility":10000,"wind_speed":0.89,"wind_deg":48,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1654988400,"temp":309.39,"feels_like":306.79,"pressure":1003,"humidity":13,"dew_point":276.61,"uvi":3.42,"clouds":76,"visibility":10000,"wind_speed":1.84,"wind_deg":222,"wind_gust":4.07,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1654992000,"temp":309.08,"feels_like":306.42,"pressure":1002,"humidity":12,"dew_point":275.25,"uvi":1.57,"clouds":77,"visibility":10000,"wind_speed":2.26,"wind_deg":145,"wind_gust":2.56,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1654995600,"temp":307.76,"feels_like":305.34,"pressure":1002,"humidity":15,"dew_point":277.37,"uvi":0.27,"clouds":80,"visibility":10000,"wind_speed":4.19,"wind_deg":148,"wind_gust":6.92,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.16},{"dt":1654999200,"temp":304.74,"feels_like":302.71,"pressure":1004,"humidity":19,"dew_point":278.33,"uvi":0,"clouds":86,"visibility":10000,"wind_speed":7.44,"wind_deg":191,"wind_gust":13.49,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.25},{"dt":1655002800,"temp":301.77,"feels_like":300.49,"pressure":1005,"humidity":25,"dew_point":279.83,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":6.03,"wind_deg":203,"wind_gust":11.17,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.32,"rain":{"1h":0.11}},{"dt":1655006400,"temp":298.81,"feels_like":298.19,"pressure":1005,"humidity":29,"dew_point":279,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":4,"wind_deg":202,"wind_gust":8.47,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.28},{"dt":1655010000,"temp":297.8,"feels_like":297.16,"pressure":1005,"humidity":32,"dew_point":279.52,"uvi":0,"clouds":64,"visibility":10000,"wind_speed":3.61,"wind_deg":216,"wind_gust":7.08,"weather":[{"i[...]
