---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=place:boston,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.098 TT 0 0.103"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 13,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL481148W",
                    "type": "work",
                    "seed": [
                        "/books/OL22636096M",
                        "/books/OL7360108M",
                        "/books/OL8875929M",
                        "/books/OL7361871M",
                        "/books/OL10202154M",
                        "/books/OL10202153M",
                        "/books/OL15574706M",
                        "/books/OL9385990M",
                        "/books/OL9409366M",
                        "/books/OL11153023M",
                        "/books/OL11085445[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=GTwdMRsMZZkgDk6zu2jtgddb1MxblPsW&location=boston,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 15 Jun 2022 03:33:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boston,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boston","adminArea5Type":"City","adminArea4":"Suffolk
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040344","unknownInput":"","type":"s","latLng":{"lat":42.358894,"lng":-71.056742},"displayLatLng":{"lat":42.358894,"lng":-71.056742},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GTwdMRsMZZkgDk6zu2jtgddb1MxblPsW&type=map&size=225,160&locations=42.358894,-71.056742|marker-sm-50318A-1&scalebar=true&zoom=12&rand=364500326"}]}]}'
  recorded_at: Wed, 15 Jun 2022 03:33:55 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f8499346cb17b29ecab36c3c63e045f7&exclude=minutely,alerts&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1655263990,"sunrise":1655197613,"sunset":1655252536,"temp":64.67,"feels_like":63.99,"pressure":1013,"humidity":67,"dew_point":53.47,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.44,"wind_deg":344,"wind_gust":5.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1655262000,"temp":64.49,"feels_like":63.73,"pressure":1013,"humidity":66,"dew_point":52.9,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0.92,"wind_deg":355,"wind_gust":2.35,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1655265600,"temp":64.67,"feels_like":63.99,"pressure":1013,"humidity":67,"dew_point":53.47,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.44,"wind_deg":344,"wind_gust":5.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1655269200,"temp":64.33,"feels_like":63.55,"pressure":1013,"humidity":66,"dew_point":52.74,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.7,"wind_deg":341,"wind_gust":9.15,"weather":[{"id":800,"main":"Clear[...]
