---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=place:boston,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.177 TT 0 0.182"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 13,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL481148W",
                    "type": "work",
                    "seed": [
                        "/books/OL22636096M",
                        "/books/OL7360108M",
                        "/books/OL8875929M",
                        "/books/OL7361871M",
                        "/books/OL10202154M",
                        "/books/OL10202153M",
                        "/books/OL15574706M",
                        "/books/OL9385990M",
                        "/books/OL9409366M",
                        "/books/OL11153023M",
                        "/books/OL11085445[...]
