---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=GTwdMRsMZZkgDk6zu2jtgddb1MxblPsW&location=boston,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 13 Jun 2022 17:21:03 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boston,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boston","adminArea5Type":"City","adminArea4":"Suffolk
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040344","unknownInput":"","type":"s","latLng":{"lat":42.358894,"lng":-71.056742},"displayLatLng":{"lat":42.358894,"lng":-71.056742},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GTwdMRsMZZkgDk6zu2jtgddb1MxblPsW&type=map&size=225,160&locations=42.358894,-71.056742|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1099710596"}]}]}'
  recorded_at: Mon, 13 Jun 2022 17:21:03 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f8499346cb17b29ecab36c3c63e045f7&exclude=minutely,alerts&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1655140863,"sunrise":1655111216,"sunset":1655166109,"temp":81.7,"feels_like":82.72,"pressure":1010,"humidity":52,"dew_point":62.37,"uvi":5.79,"clouds":75,"visibility":10000,"wind_speed":5.01,"wind_deg":355,"wind_gust":18.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1655139600,"temp":81.7,"feels_like":82.72,"pressure":1010,"humidity":52,"dew_point":62.37,"uvi":5.79,"clouds":75,"visibility":10000,"wind_speed":6.38,"wind_deg":302,"wind_gust":11.97,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.38},{"dt":1655143200,"temp":81.73,"feels_like":82.35,"pressure":1010,"humidity":49,"dew_point":60.73,"uvi":5.28,"clouds":76,"visibility":10000,"wind_speed":4.7,"wind_deg":305,"wind_gust":11.14,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.34},{"dt":1655146800,"temp":82.13,"feels_like":82.33,"pressure":1010,"humidity":46,"dew_point":59.31,"uvi":6.02,"clouds":47,"visibility":10000,"wind_speed":4.05,"wind_deg":319,"wind_gust":12.8,"weather":[{"i[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=place:boston,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 6.892 TT 0 6.897"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 13,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL481148W",
                    "type": "work",
                    "seed": [
                        "/books/OL22636096M",
                        "/books/OL7360108M",
                        "/books/OL8875929M",
                        "/books/OL7361871M",
                        "/books/OL10202154M",
                        "/books/OL10202153M",
                        "/books/OL15574706M",
                        "/books/OL9385990M",
                        "/books/OL9409366M",
                        "/books/OL11153023M",
                        "/books/OL11085445[...]
