---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f8499346cb17b29ecab36c3c63e045f7&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655131656,"sunrise":1655119887,"sunset":1655173725,"temp":81.45,"feels_like":79.7,"pressure":998,"humidity":24,"dew_point":41.22,"uvi":3.47,"clouds":0,"visibility":10000,"wind_speed":4,"wind_deg":183,"wind_gust":8.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1655128800,"temp":80.24,"feels_like":78.84,"pressure":998,"humidity":22,"dew_point":37.99,"uvi":1.59,"clouds":0,"visibility":10000,"wind_speed":6.98,"wind_deg":209,"wind_gust":9.95,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1655132400,"temp":81.45,"feels_like":79.7,"pressure":998,"humidity":24,"dew_point":41.22,"uvi":3.47,"clouds":0,"visibility":10000,"wind_speed":4.36,"wind_deg":206,"wind_gust":5.75,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1655136000,"temp":82.02,"feels_like":79.93,"pressure":998,"humidity":21,"dew_point":38.28,"uvi":5.79,"clouds":0,"visibility":10000,"wind_speed":1.77,"wind_deg":303,"wind_gust":4.54,"weather":[{"id":800,"main":"C[...]
